.App {
  &--login, &--register, &--splash, &--rfid {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    gap: 0;
    position: relative;
    z-index: 0;
  }

  &--login, &--register, &--rfid  {
    --header-height: 150px;

    .Header {
      display: none;

      &-container {
        border-bottom: none;
        justify-content: center;
      }
    }
  }

  &--splash {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .Header, .Footer {
      display: none;
    }

    .Logo {
      stroke-dasharray: 20;
      animation: dash 14s linear forwards infinite;
    }
  }
}

.AuthPage {
  > .Container {
    max-width: unset;
    min-height: calc(100vh - var(--header-height));
    grid-template-columns: 1fr;
  }

  .Page-content-main {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    min-height: 100vh;
  }

  &-info {
    background: var(--highlight-color);
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
    position: relative;
    z-index: 0;

    &::after {
      content: "";
      position: absolute;
      display: block;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background-image: url("../../assets/splash_bg.jpg");
      opacity: 10%;
      background-size: 100%;
      background-position: center;
      z-index: -1;
    }
  }

  &-logo {
    margin-top: auto;
    width: 50%;
    align-self: flex-end;
  }

  &-content {
    /*padding: 16px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-high);*/
  }

  &-info, &-content {
    padding: 4.45rem;
  }

  &-desc {
    color: var(--contrast-color);
    font-size: 0.95rem;
  }

  &-title {
    font-size: 2.75rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 32px;

    &-icon {
      --size: 3rem;
      width: var(--size);
      height: var(--size);
    }
  }

  &-content {
    backdrop-filter: blur(2px);
    background: #ffffff12;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
