.Header {
  &-container {
    height: var(--header-height);
    display: flex;
    align-items: center;
  }

  &-secondary {
    margin-inline-start: auto;
  }

  &-title {
    img {
      height: 40px;
    }
  }

  &::before, &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: translateX(-48px);
    z-index: -1;
  }

  &::before {
    height: var(--header-height);
    background-color: var(--header-bg);
  }

  &::after {
    height: 2px;
    top: var(--header-height);
    background-color: var(--control-bg);
  }
}

.ActorButton {
  gap: 16px;
  display: flex;
  align-items: center;
  color: var(--control-color);

  &-avatar {
    width: 30px;
    height: auto;
  }
}
