.RfidCard {
  padding: 18px;
  border-radius: 8px;
  background: #fff;
  font-family: monospace;
  color: #000;
  display: flex;
  height: 180px;
  width: 365px;
  align-items: flex-end;
  justify-content: flex-end;

  &-number {
    font-weight: normal;
    font-size: 0.85rem;
  }
}
