table {
  width: 100%;
  border-spacing: 0 4px;
  border-collapse: separate;
  font-size: 0.9rem;
}

th, td {
  padding: 8px;
  background-color: var(--block-bg);
}

th {
  font-size: 0.8rem;
  color: var(--control-color);
  text-align: start;
}

tr {
  td, th {
    border-bottom: 1px solid var(--control-bg);
  }
}
