:root {
  --highlight-color: theme("colors.rose.500");
  --highligh-control-color: theme("colors.rose.900");
  --tertiary-color: #8bd3dd;
  --text-color: #18181b;
  --control-color: #a1a1aa;
  --bg-color: #f3f4f6;
  --control-bg: #e4e4e7;
  --contrast-color: #660725;
  --contrast-bg: #ebd3e0;
  --contrast-bg-dark: #381126;
  --block-bg: #fff;

  --link-color: var(--text-color);
  --link-color-hover: var(--link-color);

  --header-bg: #fbfbfb;

  --border-radius: 8px;
  --header-height: 65px;

  --box-shadow-high: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
